spring-social-login/.classpath
spring-social-login/.factorypath
spring-social-login/.project
spring-social-login/.settings/
spring-social-login/.settings/*
spring-social-login/src/main/webapp/WEB-INF/classes/*.class
