body, html {
    height: 100%;
    font-family: 'kavivanar';
}
a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
   	background:linear-gradient(black,#2F4F4F);
}

.divC {
	background-color: rgba(185, 9, 11, 0.4);
	float: left;
	height: 100%;
	width: 30%;
}

.home-table {
	margin-left: auto;
    margin-right: auto;
}
table {
	color: white;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    color: white;
}

.divContenidos {
	height: 100%;
	width: 70%;
	float: left
}

.input {
	display:block;
  	margin: 0 0 0 auto;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image:url("#{resource['images:searchicon.png']}");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input:focus {
    width: 100%;
}
.search-form {
	float:right;
	height: 40px;
	display: inline-block;
}