.popular {
	color:white;
}
.interesante {
	color:white;
}

.home-header {
	height:10%	
}
/*.dropdown1 {
	display: inline;
	float:left;
	margin-right: 0.5%;
}*/

.home-header form{
	float:right;
}

.divContenidos1 {
	margin: 1%;
	float: left;
	height: 92%;
	width: 48%;
}
.divContenidos1 h2 {
	height: 2%;
}
.divContenidos2 {
	margin: 1%;
	float: left;
	height: 92%;
	width: 48%;
}
.divContenidos2 h2 {
	height: 2%;
}
/************flex-box**************************************/

.flex-container-home {
	width: 95%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.flex-item-home {
    width: 127px;
    margin: 10px; 
}

.flex-item-home img {
    width: 126px;
    height: auto;
}

.flex-container-home1 {
	width: 95%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.flex-item-home1 {
    width: 127px;
    margin: 10px; 
}

.flex-item-home1 img {
    width: 126px;
    height: auto;
}

